<div class='chat'>
  <%= link_to :start_chat, '#', class: 'chat-start' %>
  <div class='chat-messages'>
  </div>
  <%= form_tag nil, class: 'chat-message-form' do %>
    <%= text_field_tag 'content', nil, class: 'chat-message-input' %>
    <%= submit_tag :send, class: 'chat-message-submit' %>
  <% end %>
  <%= link_to :stop_chat, '#', class: 'chat-stop' %>
</div>
