<div class='chat'>
  <div class='chat-controls'>
    <%= link_to :start_chat, '#', class: 'chat-start' %>
    <%= link_to :stop_chat, '#', class: 'chat-stop' %>
  </div>

  <div class='chat-body'>
    <div class='chat-messages'>
    </div>

    <%= form_tag nil, class: 'chat-message-form' do %>
      <%= text_field_tag 'content', nil, class: 'chat-message-input' %>
      <%= submit_tag :send, class: 'chat-message-submit' %>
    <% end %>
  </div>
</div>
