<div id="chat-ui" class='chat'>
  <div class="indicator">
    <div></div><div></div><div></div>
  </div>

  <div class='controls'>
    <%= link_to t('chat.top_bar.heading'), '#', class: 'open' %>
    <%= link_to '&times;'.html_safe, '#', class: 'close' %>
  </div>

  <div class='chat-body'>
    <div class="welcome">
      <h2><%= t('chat.welcome.header') %></h2>
      <p>
        <%= t('chat.welcome.intro') %>
      </p>
    </div>

    <div class='chat-messages'>
    </div>
  </div>

  <%= form_tag nil, class: 'chat-message-form' do %>
      <%= text_area_tag 'content', nil, class: 'chat-message-input', placeholder: t('chat.message_placeholder') %>
  <% end %>
</div>